@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');
*{
    margin: 0;
    padding: 0;

}
:root{
    --couleur-pricinpal:#E67E22;
    --police:Raleway;
    --taille-titre:30px;
    --taille-sous-titre:24px;
    --taille-text:16px;
}
h1{
    text-align: center;
    font-size: var(--taille-titre);
}
.btn_ajout{
    background-color: var(--couleur-pricinpal);
    color:#ffffff;
    font-size: var(--taille-sous-titre);
    float: right;
}
.table{
    margin-top: 20px;
}
.action{
    color: var(--couleur-pricinpal);
}
.stretched-link{
    color: #000000;
}
thead{
    color: var(--couleur-pricinpal);
}

.btn{
    background-color: var(--couleur-pricinpal);
    
}
